---
console.log("javascript");
---

<header class="flex justify-between items-center py-6 w-[1120px] mx-auto">
    <img
        class="rounded-full w-12 h-12"
        src="https://avatars.githubusercontent.com/u/1976320?v=4"
        alt="Logo"
    />
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/" class="text-gray-100 hover:text-gray-600">Home</a>
        <a href="/project" class="text-gray-100 hover:text-gray-600">Project</a>
        <a href="/about" class="text-gray-100 hover:text-gray-600">About</a>
        <a href="/contact" class="text-gray-100 hover:text-gray-600">Contact</a>
    </nav>
</header>
